@model List<Project_Model>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<a href="@Url.Action("Create","Project")" class="btn btn-danger float-lg-right add" style="padding:10px">Add Project</a>

<br />
<br />
<div class="List">
    <h6 class="m-0 font-weight-bold text-primary">Project List</h6>

</div>

<div class="container-fluid">

    <div class="card shadow mb-4">

        <div class="box">
            <div class="box-shadow">
                <div class="table-responsive">
                       <table class="table no-margin table-striped table-bordered"  id="project-table">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Start date</th>
                                    <th>End date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var project in Model)
                                {
                                    <tr id="@project.Id">
                                        <td>@project.Project_Name</td>
                                        <td>@project.StartDate.ToShortDateString()</td>
                                        <td>@project.EndDate.ToShortDateString()</td>
                                    <td class="text-center">
                                            <a href="@Url.Action("Edit","Project",new{id=project.Id})" class="btn btn-dark edit-btn">Edit</a>
                                        <button class="btn btn-danger delete-btn" data-id="@project.Id">Delete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.delete-btn').click(function () {
            var id = $(this).data('id');
            var row = $(this).closest('tr');

            if (confirm("Are you sure you want to delete this record?")) {
                $.ajax({
                    url: '@Url.Action("Delete", "project")/' + id,
                    type: 'POST',
                    success: function (result) {
                        row.closest('tr').remove();
                    },
                    error: function (xhr, status, error) {
                        alert("Error deleting record: " + error);
                    }
                });
            }
        });
    });

</script>



<style>
    .List {
        padding: 20px;
        margin-left: 20px;
    }

    .add {
        margin-right: 20px;
        margin-top: 10px;
    }
   
</style>